image @IMAGE@ {
	hdimage {
		align = 32k
		partition-table-type = gpt
	}
	partition barebox {
		image = "@BAREBOX_IMAGE@"
		offset = 32k
		size = 2528k # = 2,5M - 32k to align at 512k
	}
	partition barebox-environment {
		# is not used by barebox at the moment, because there is an environment in the SPI flash
		size = 1M
		partition-type-uuid = barebox-env
	}
	partition barebox-state {
		size = 512k
		partition-type-uuid = barebox-state
	}
	partition root-A {
		image = "root.ext2"
		partition-type-uuid = root-arm64
	}
}
