image boot2.vfat {
    vfat {
        file EFI/BOOT/BOOTx64.EFI { image = "barebox-image" }
        file EFI/barebox/state.dtb { image = "barebox-state.dtb" }
    }
    name = boot2-vfat
    size = 200M
}

image data.ext4 {
    ext4 {
        label = data
    }
    size = 200M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = "gpt"
		gpt-location = "1024"
	}
	
        partition boot-vfat {
	        image = "boot2.vfat"
	        partition-type-uuid = U
	        bootable = true
        }

	partition barebox-state {
                partition-uuid = 4778ed65-bf42-45fa-9c5b-287a1dc4aab1
		partition-type-uuid = barebox-state
                size = 1M
	}

	partition root-A {
		image = root.ext2
		partition-type-uuid = root-x86-64
		size = 250M
	}

        partition root-B {
                image = root.ext2
                partition-type-uuid = root-x86-64
		size = 250M
        }
        partition data {
                image = data.ext4
                partition-type-uuid = da7af157-d639-49e9-89a0-fc74beeb8954
        }
}
