image boot2.vfat {
    vfat {
        file EFI/BOOT/BOOTx64.EFI { image = "barebox-image" }
    }
    name = boot2-vfat
    size = 7M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = "gpt"
		gpt-location = "1024"
	}
	
        partition boot-vfat {
	        image = "boot2.vfat"
	        partition-type-uuid = U
	        bootable = true
        }

        partition barebox-environment {
		partition-type-uuid = barebox-env
		size = 1M
	}
	partition barebox-state {
		partition-type-uuid = barebox-state
		size = 1M
	}

	partition root-A {
		image = root.ext2
		partition-type-uuid = L
	}

        partition root-B {
                image = root.ext2
                partition-type-uuid = L
        }
}
